<section class="footer">
  <div class="container">
    <div class="footergrid">
      <div class="judul">
        <h3>Tongkrongin</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, inventore obcaecati. Ducimus delectus assumenda cum.</p>
      </div>
      <div class="kontak">
        <h3>Kontak Kami</h3>
        <table>
          <tr>
            <td><i class="fab fa-facebook-f"></i></td>
            <td class="ps-4"><a href="" class="d-block">tongkrongin </a></td>
          </tr>
          <tr>
            <td><i class="fab fa-instagram"></i></td>
            <td class="ps-4"><a href="" class="d-block">@tongkrongin </a></td>
          </tr>
          <tr>
            <td><i class="fab fa-twitter"></i></td>
            <td class="ps-4"><a href="" class="d-block">@tongkrongin </a></td>
          </tr>
          <tr>
            <td><i class="fab fa-whatsapp"></i></td>
            <td class="ps-4"><a href="" class="d-block">08121312312 </a></td>
          </tr>
        </table>
      </div>
      <div class="navigasi">
        <h3>Kontak Kami</h3>
        <a href="" class="d-block">Cafe </a>
        <a href="" class="d-block">Fasilitas </a>
        <a href="" class="d-block">Sejarah </a>
        <a href="" class="d-block">Ulasan</a>
      </div>
    </div>

    <div class="text-center border-top py-3 mt-3">
      <span>&COPY; 2021 tongkrongin.com | Develop by AyasGroup</span>
    </div>
  </div>
</section>
