<section class="heroAbout">
  <div class="container">
    <div class="row">
      <div class="col-md-6 content">
        <h1>
          Kami Adalah Mahasiswa <br />
          Yang siap berkontribusi <br />
          Untuk Masa Depan
        </h1>
        <p>Baca Cerita tentang bagaimana kami membentuk tongkrongin ini</p>
        <button class="buttonPrimary">Selengkapnya</button>
      </div>
    </div>
  </div>
</section>

<section class="features">
  <div class="container">
    <div class="row">
      <div class="col-md-auto">
        <div class="kotak"></div>
      </div>
      <div class="col-md-4">
        <h3 class="judul">Inilah Kami Bagian Dari Tongkrongin</h3>
      </div>
      <div class="col-md-7">
        <p class="subjudul">Berbagai cerita dan penjelasan mengenai Tongkrongin sudah dirangkum dari tiap-tiap bagian didalamnya</p>
      </div>
    </div>
  </div>
</section>

<section class="pendiri">
  <div class="container">
    <div class="row">
      <div class="col-md text-end">
        <p>saya sangat senang berada pada kelompok ini dimana tongkrongin dimulai dari perdebatan yang panjang dari segi design namun kami dapat menyelesaikannya dengan baik</p>
        <h3>Mohamad RInaldi</h3>
        <p>UI/UX Designer</p>
      </div>
      <div class="col-md text-center">
        <img src="/img/about/enol.png" alt="" class="img-fluid" />
      </div>
    </div>
    <div class="row">
      <div class="col-md text-center">
        <img src="/img/about/ayas.png" alt="" class="img-fluid" />
      </div>
      <div class="col-md">
        <p>Tongkrongin adalah proyek besar bagi saya pribadi sebagai seorang web Developer dimana saya melakukan Full Stack dengan bahasa andalan saya yakni Javascript</p>
        <h3>Muhamad Adi Yaksa</h3>
        <p>Web Developer</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md text-end">
        <p>Membuat aktifitas sesuai target adalah kekuatanku , tongkrongin terus berevaluasi dengan koridor yang telah ditetapkan sesuai dengan apa yang kami harapkan</p>
        <h3>Rismawati</h3>
        <p>Scrum Master</p>
      </div>
      <div class="col-md text-center">
        <img src="/img/about/risma.png" alt="" class="img-fluid" />
      </div>
    </div>
    <div class="row">
      <div class="col-md text-center">
        <img src="/img/about/ucup.png" alt="" class="img-fluid" />
      </div>
      <div class="col-md">
        <p>Mengujii Aplikasi sekompleks ini adalah hal yang terbilang rumit karna memang tongkrongin adalah proyek besar yang nantinya kami dapat optimis sukses untuk bersaing dengan startup lainnya</p>
        <h3>Supriatman</h3>
        <p>QA Engineer</p>
      </div>
    </div>
  </div>
</section>
