<section class="heroCafe">
  <div class="container">
    <div class="row">
      <div class="col-md-6 content">
        <h1 class="fw-700">Beberapa Cafe Favorite Yang <br />Kami Sediakan Untuk Anda.</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur molestias repellendus magni quia ad libero itaque, sed cumque unde ut neque amet quae ullam distinctio?</p>
        <div class="dropdown">
          <a class="btn btn-light dropdown-toggle px-5" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"> Pilih Lokasi Cafe yang Anda Inginkan!</a>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="#">Jakarta Timur</a></li>
            <li><a class="dropdown-item" href="#">Jakarta Barat</a></li>
            <li><a class="dropdown-item" href="#">Jakarta Selatan</a></li>
            <li><a class="dropdown-item" href="#">Jakarta Utara</a></li>
            <li><a class="dropdown-item" href="#">Jakarta Pusat</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="listCafe">
  <div class="container">
    <div class="row">
      <div class="col-md-auto">
        <div class="kotak"></div>
      </div>
      <div class="col-md-4">
        <h3>Cafe favorit Menurut Para Konsumen</h3>
      </div>
      <div class="col-md-7">
        <p class="subjudul">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos officia incidunt modi, autem consectetur temporibus tempore ipsam natus vel, mollitia labore impedit explicabo, omnis aut. Tenetur deleniti libero amet quaerat?
        </p>
      </div>
    </div>

    <div class="isi-list-cafe">
      <a href="/cafe/details">
        <div class="card">
          <img src="img/cafe1.png" alt="cafe 1" class="img-fluid" />
          <div class="card-body">
            <h3 class="card-title">Seatap Margonda</h3>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

            <div class="row">
              <div class="col-auto">
                <p>
                  <span>5.0</span>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </p>
              </div>
              <div class="col-md text-end ulasan">12 Ulasan</div>
            </div>
          </div>
        </div>
      </a>
      <div class="card">
        <img src="img/cafe1.png" alt="cafe 1" class="img-fluid" />
        <div class="card-body">
          <h3 class="card-title">Seatap Margonda</h3>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

          <div class="row">
            <div class="col-md-auto">
              <p>
                <span>5.0</span>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </p>
            </div>
            <div class="col-md text-end ulasan">12 Ulasan</div>
          </div>
        </div>
      </div>
      <div class="card">
        <img src="img/cafe1.png" alt="cafe 1" class="img-fluid" />
        <div class="card-body">
          <h3 class="card-title">Seatap Margonda</h3>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

          <div class="row">
            <div class="col-md-auto">
              <p>
                <span>5.0</span>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </p>
            </div>
            <div class="col-md text-end ulasan">12 Ulasan</div>
          </div>
        </div>
      </div>
      <div class="card">
        <img src="img/cafe1.png" alt="cafe 1" class="img-fluid" />

        <div class="card-body">
          <h3 class="card-title">Seatap Margonda</h3>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

          <div class="row">
            <div class="col-md-auto">
              <p>
                <span>5.0</span>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </p>
            </div>
            <div class="col-md text-end ulasan">12 Ulasan</div>
          </div>
        </div>
      </div>
      <div class="card">
        <img src="img/cafe1.png" alt="cafe 1" class="img-fluid" />

        <div class="card-body">
          <h3 class="card-title">Seatap Margonda</h3>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

          <div class="row">
            <div class="col-md-auto">
              <p>
                <span>5.0</span>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </p>
            </div>
            <div class="col-md text-end ulasan">12 Ulasan</div>
          </div>
        </div>
      </div>
      <div class="card">
        <img src="img/cafe1.png" alt="cafe 1" class="img-fluid" />

        <div class="card-body">
          <h3 class="card-title">Seatap Margonda</h3>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

          <div class="row">
            <div class="col-md-auto">
              <p>
                <span>5.0</span>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </p>
            </div>
            <div class="col-md text-end ulasan">12 Ulasan</div>
          </div>
        </div>
      </div>
      <div class="card">
        <img src="img/cafe1.png" alt="cafe 1" class="img-fluid" />

        <div class="card-body">
          <h3 class="card-title">Seatap Margonda</h3>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

          <div class="row">
            <div class="col-md-auto">
              <p>
                <span>5.0</span>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </p>
            </div>
            <div class="col-md text-end ulasan">12 Ulasan</div>
          </div>
        </div>
      </div>
      <div class="card">
        <img src="img/cafe1.png" alt="cafe 1" />

        <div class="card-body">
          <h3 class="card-title">Seatap Margonda</h3>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

          <div class="row">
            <div class="col-md-auto">
              <p>
                <span>5.0</span>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </p>
            </div>
            <div class="col-md text-end ulasan">12 Ulasan</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
