<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col-md-6 content">
        <h1>Nikmati Waktu Bersama <br />Teman atau Keluarga</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur molestias repellendus magni quia ad libero itaque, sed cumque unde ut neque amet quae ullam distinctio?</p>
        <button class="buttonPrimary">Pesan Sekarang</button>
      </div>
    </div>
  </div>
</section>

<section class="highlight">
  <div class="container">
    <div class="row">
      <div class="col-md-auto">
        <div class="kotak"></div>
      </div>
      <div class="col-md-4">
        <h3 class="judul">Kami Memiliki Beberapa Cafe Favorite</h3>
      </div>
      <div class="col-md-7">
        <p class="subjudul">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos officia incidunt modi, autem consectetur temporibus tempore ipsam natus vel, mollitia labore impedit explicabo, omnis aut. Tenetur deleniti libero amet quaerat?
        </p>
      </div>
    </div>

    <div id="carouselExampleDark" class="carousel carousel-dark slide mt-5" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="slideCarousel">
            <div class="card">
              <img src="img/highlight1.png" alt="highlight1 1" />
              <div class="card-body">
                <h3 class="card-title judulcafe">Cafe A</h3>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-light card-link fw-bold">Selengkapnya</a>
              </div>
            </div>
            <div class="card">
              <img src="img/highlight1.png" alt="highlight1 1" />
              <div class="card-body">
                <h3 class="card-title">Cafe A</h3>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-light card-link fw-bold">Selengkapnya</a>
              </div>
            </div>
            <div class="card">
              <img src="img/highlight1.png" alt="highlight1 1" />
              <div class="card-body">
                <h3 class="card-title">Cafe A</h3>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-light card-link fw-bold">Selengkapnya</a>
              </div>
            </div>
            <div class="card">
              <img src="img/highlight1.png" alt="highlight1 1" />
              <div class="card-body">
                <h3 class="card-title">Cafe A</h3>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-light card-link fw-bold">Selengkapnya</a>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="slideCarousel">
            <div class="card">
              <img src="img/highlight1.png" alt="highlight1 1" />
              <div class="card-body">
                <h3 class="card-title">Cafe A</h3>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-light card-link fw-bold">Selengkapnya</a>
              </div>
            </div>
            <div class="card">
              <img src="img/highlight1.png" alt="highlight1 1" />
              <div class="card-body">
                <h3 class="card-title">Cafe A</h3>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-light card-link fw-bold">Selengkapnya</a>
              </div>
            </div>
            <div class="card">
              <img src="img/highlight1.png" alt="highlight1 1" />
              <div class="card-body">
                <h3 class="card-title">Cafe A</h3>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-light card-link fw-bold">Selengkapnya</a>
              </div>
            </div>
            <div class="card">
              <img src="img/highlight1.png" alt="highlight1 1" />
              <div class="card-body">
                <h3 class="card-title">Cafe A</h3>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-light card-link fw-bold">Selengkapnya</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class="highlight-res">
      <div class="res-row">
        <div class="row">
          <div class="col-5">
            <img src="/img/highlight1.png" alt="highligh1" class="img-fluid" />
          </div>
          <div class="col-7">
            <h3 class="card-title">Cafe A</h3>
            <p class="card-text">Some quick example teaxt to build on the card title</p>
            <a href="#" class="text-light">Selengkapnya</a>
          </div>
        </div>
      </div>
      <div class="res-row">
        <div class="row">
          <div class="col-5">
            <img src="/img/highlight1.png" alt="highligh1" class="img-fluid" />
          </div>
          <div class="col-7">
            <h3 class="card-title">Cafe A</h3>
            <p class="card-text">Some quick example text to build on the card title</p>
            <a href="#" class="text-light">Selengkapnya</a>
          </div>
        </div>
      </div>
      <div class="res-row">
        <div class="row">
          <div class="col-5">
            <img src="/img/highlight1.png" alt="highligh1" class="img-fluid" />
          </div>
          <div class="col-7">
            <h3 class="card-title">Cafe A</h3>
            <p class="card-text">Some quick example text to build on the card title</p>
            <a href="#" class="text-light">Selengkapnya</a>
          </div>
        </div>
      </div>
      <div class="res-row">
        <div class="row">
          <div class="col-5">
            <img src="/img/highlight1.png" alt="highligh1" class="img-fluid" />
          </div>
          <div class="col-7">
            <h3 class="card-title">Cafe A</h3>
            <p class="card-text">Some quick example text to build on the card title</p>
            <a href="#" class="text-light">Selengkapnya</a>
          </div>
        </div>
      </div>
      <div class="res-row">
        <div class="row">
          <div class="col-5">
            <img src="/img/highlight1.png" alt="highligh1" class="img-fluid" />
          </div>
          <div class="col-7">
            <h3 class="card-title">Cafe A</h3>
            <p class="card-text">Some quick example text to build on the card title</p>
            <a href="#" class="text-light">Selengkapnya</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row text-center mt-5">
      <div class="col-md">
        <a href="/cafe" class="btn btn-light text-center px-3 fw-bold">Lihat Lebih <i class="bi bi-chevron-right"></i></a>
      </div>
    </div>
  </div>
</section>

<section class="features">
  <div class="container">
    <div class="row">
      <div class="col-md-auto">
        <div class="kotak"></div>
      </div>
      <div class="col-md-4">
        <h3>Fasilitas Cafe yang Tersedia Cukup Lengkap</h3>
      </div>
      <div class="col-md-7">
        <p class="subjudul">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos officia incidunt modi, autem consectetur temporibus tempore ipsam natus vel, mollitia labore impedit explicabo, omnis aut. Tenetur deleniti libero amet quaerat?
        </p>
      </div>
    </div>

    <div class="cards mt-5">
      <div class="card">
        <div class="card-body">
          <img src="icon/foodIcon.png" alt="foodIcon" />
          <h5 class="card-title">Makanan</h5>
          <p class="card-text">Lorem ipsum dolor sit amet.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <img src="icon/waterIcon.png" alt="waterIcon" />
          <h5 class="card-title">Minuman</h5>
          <p class="card-text">Lorem ipsum dolor sit amet.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <img src="icon/wifiIcon.png" alt="wifiIcon" />
          <h5 class="card-title">Wifi</h5>
          <p class="card-text">Lorem ipsum dolor sit amet.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <img src="icon/toiletIcon.png" alt="toiletIcon" />
          <h5 class="card-title">Toilet</h5>
          <p class="card-text">Lorem ipsum dolor sit amet.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <img src="icon/parkirIcon.png" alt="parkirIcon" />
          <h5 class="card-title">Parkir</h5>
          <p class="card-text">Lorem ipsum dolor sit amet.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <img src="icon/mosqueIcon.png" alt="mosqueIcon" />
          <h5 class="card-title">Mushala</h5>
          <p class="card-text">Lorem ipsum dolor sit amet.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="panel">
  <div class="container">
    <div class="row">
      <div class="col-lg content">
        <h1>Pesan Tempat Sekarang dan Nikmati Waktumu</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus incidunt magni accusantium ex molestias veniam?</p>
        <button class="buttonPrimary">Pesan sekarang</button>
      </div>
      <div class="col-lg text-center">
        <div class="kotak"></div>
      </div>
    </div>
  </div>
</section>

<section class="ulasan">
  <div class="container">
    <div class="row">
      <div class="col-md-auto">
        <div class="kotak"></div>
      </div>
      <div class="col-md-4">
        <h3>Beberapa Ulasan Dari Para Pengunjung Cafe Mitra kami</h3>
      </div>
      <div class="col-md-7">
        <p class="subjudul">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos officia incidunt modi, autem consectetur temporibus tempore ipsam natus vel, mollitia labore impedit explicabo, omnis aut. Tenetur deleniti libero amet quaerat?
        </p>
      </div>
    </div>

    <div class="isiUlasan">
      <div class="card">
        <div class="image">
          <img src="img/ulasan1.png" class="card-img-top img-fluid" alt="..." />
        </div>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <h5 class="card-title">From Ayas</h5>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img src="img/ulasan1.png" class="card-img-top img-fluid" alt="..." />
        </div>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <h5 class="card-title">From Ahya</h5>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img src="img/ulasan1.png" class="card-img-top img-fluid" alt="..." />
        </div>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <h5 class="card-title">From Enol</h5>
        </div>
      </div>

      <div class="card">
        <div class="image">
          <img src="img/ulasan1.png" class="card-img-top img-fluid" alt="..." />
        </div>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <h5 class="card-title">From Yahya</h5>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img src="img/ulasan1.png" class="card-img-top img-fluid" alt="..." />
        </div>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <h5 class="card-title">From Bambang</h5>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img src="img/ulasan1.png" class="card-img-top img-fluid" alt="..." />
        </div>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <h5 class="card-title">From Jantuk</h5>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg">
        <div class="image"></div>
      </div>
      <div class="col-lg konten">
        <div class="row mb-3">
          <div class="col-md-auto">
            <div class="kotak"></div>
          </div>
          <div class="col-md-11">
            <h2>
              Cerita dibalik didirikannya<br />
              Website Tongkrongin
            </h2>
          </div>
        </div>
        <p class="fw-bold">Lorem ipsum dolor sit amet.</p>
        <p class="subjudul">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo delectus aliquam aliquid libero quos excepturi ut deserunt officiis hic blanditiis?</p>
      </div>
    </div>
  </div>
</section>
