<section class="header text-end">
  <div class="container">
    <button class="btn btn-dark px-5 ">Buat Pesanan Lagi</button>
  </div>
</section>

<section class="invoice">
  <div class="container">
    <div class="row">
      <div class="col-md">
        <div class="status">
          <h2>Status Pemesanan</h2>
          <div class="kotak">
            <i class="bi bi-check-circle-fill"></i>
            <h5 class="d-inline-block">Proses Pembayaran telah berhasil dilakukan</span></h5>
          </div>
          <table class="table table-sm">
            <tr>
              <td><span>Nama Bank</span></td>
              <td><span>:</span></td>
              <td><span class="text-capitalize"> BCA </span></td>
            </tr>
            <tr>
              <td><span>Nama Rekening</span></td>
              <td><span>:</span></td>
              <td><span>Seatap Corporation</span></td>
            </tr>
            <tr>
              <td><span>Nomor Rekening</span></td>
              <td><span>:</span></td>
              <td><span>9910310124</span></td>
            </tr>
            <tr>
              <td><span>Tanggal Pembayaran</span></td>
              <td><span>:</span></td>
              <td><span>12 Desember 2021</span></td>
            </tr>
            <tr>
              <td><span>Jam Pembayaran</span></td>
              <td><span>:</span></td>
              <td><span>17:40</span></td>
            </tr>
            <tr>
              <td><span>Total Pembayaran</span></td>
              <td><span>:</span></td>
              <td><span>Rp. 340.000</span></td>
            </tr>
          </table>
        </div>

        <div class="detail-pesanan">
          <ul class="list-group">
            <li class="list-group-item">
              <h2>Detail Transaksi</h2>
            </li>
            <li class="list-group-item">
              <h4 class="subjudul">Tempat</h4>
              <div class="kapasitas">
                <div class="row">
                  <div class="col-3">
                    <img src="/img/cafe/seatap.jpeg" alt="Cafe" class="img-fluid cafe mt-2" />
                  </div>
                  <div class="col">
                    <h3>Seatap Coffee And Space</h3>
                    <p>Arundina Jl. Cibubur timur RT.1/RW 11 Jakarta Timur DKI jakarta</p>
                  </div>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <h4 class="subjudul">Kapasitas</h4>
              <div class="kapasitas">
                <div class="row">
                  <div class="col-3">
                    <img src="/img/food/food1.png" alt="Food" class="img-fluid mt-2" />
                  </div>
                  <div class="col">
              <table class="table table-sm" >
                <tr>
                  <td><span>Atas Nama</span></td>
                  <td><span>:</span></td>
                  <td><span class="text-capitalize">Muhamad Adi Yaksa</span></td>
                </tr>
                <tr>
                  <td><span>Kapasitas</span></td>
                  <td><span>:</span></td>
                  <td><span></span>1-3 Orang</td>
                </tr>
                <tr>
                  <td><span>Jam Pemesanan</span></td>
                  <td><span>:</span></td>
                  <td><span class="text-capitalize">18:00</span></td>
                </tr>
                <tr>
                  <td><span>Tanggal Pemesanan</span></td>
                  <td><span>:</span></td>
                  <td><span class="text-capitalize">20 Desember 2021</span></td>
                </tr>
               
              </table>
              </div>
              </div>
              </div>
            </li>
            <li class="list-group-item">
              <h4 class="subjudul">Makanan</h4>
             
              <div class="kapasitas">
                <div class="row">
                  <div class="col-3">
                    <img src="/img/food/food1.png" alt="Food" class="img-fluid mt-2" />
                  </div>
                  <div class="col">
                    <table class="table table-sm">
                      <tr>
                        <td>Menu</td>
                        <td>:</td>
                        <td><span> Burger dan Kentang </span></td>
                      </tr>
                      <tr>
                        <td>Jumlah</td>
                        <td>:</td>
                        <td><span>1</span></td>
                      </tr>
                      <tr>
                        <td>Harga</td>
                        <td>:</td>
                        <td><span>Rp. 20.000</span></td>
                      </tr>
                     
                    </table>
                  </div>
                </div>
              </div>  
            </li>
            <li class="list-group-item">
              <h4 class="subjudul">Catatan</h4>
              <input type="text" class="form-control mb-2" value="" >
            </li>
        </div>
      </div>
      <div class="col-md">
        <div class="kode">
          <h2 >Kode Invoice</h2>

          <div class="row">
            <div class="col">
              <h5 class="m-0">INV/20211208/XIX/VI/10240197480</h5>
            </div>
            <div class="col">
              <button class="btn btn-light px-3">Download</button>
            </div>
          </div>
        </div>

        <div class="tatacara">
          <h2>Tata Cara Konfirmasi</h2>
          <table class="table">
            <tr>
              <td>1.</td>
              <td>Tunggu konfirmasi admin untuk mendapatkan kode boking <strong>(contoh : YWQH8172)</strong> </td>
            </tr>
            <tr>
              <td>2.</td>
              <td>Kode boking didaptkan setelah dilakukan konfirmasi oleh admin dalam kurung waktu <strong>10 - 20 menit</strong> </td>
            </tr>
            <tr>
              <td>3.</td>
              <td>Kode boking dapat dilihat pada halaman <strong> notifikasi </strong></td>
            </tr>
            <tr>
              <td>4.</td>
              <td>Simpan kode invoice sebagai bukti kamu telah melakukan pembayaran</td>
            </tr>
            <tr>
              <td>5.</td>
              <td>Datang ke cafe yang dituju maksimal keterlambatan <strong>15 menit</strong> , apabila terlambat maka dapat melakukan proses refund apabila tempat yang disediakan sudah Penuh. </td>
            </tr>
            <tr>
              <td>6.</td>
              <td>Tunjukan <strong>kode boking </strong> yang anda dapat untuk melakukan verifikasi pemesanan di tempat sesuai waktu yang anda pesan</td>
            </tr>
            <tr>
              <td>7.</td>
              <td>Selesai</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

</section>
