<section class="keranjang">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>Detail Pesanan</h2>
      </div>
      <div class="col text-end">
        <? if(capacities) { ?>
        <a href="/cafe/food/<?= capacities.idCafe ?>" class="btn btn-dark text-light px-4">Tambah Pesanan</a>
        <? } else {?>
        <a href="/cafe" class="btn btn-dark text-light px-4">Tambah Pesanan</a>
        <? } ?>
      </div>
    </div>
    <div class="row mt-4 judul">
      <div class="col-1"></div>
      <div class="col-6">Pesanan</div>
      <div class="col-2">Jumlah</div>
      <div class="col-2">Harga</div>
      <div class="col-1"></div>
    </div>
    <input type="hidden" value="<?= (capacities) ? capacities.kapKategori : "kosong" ?>" class="isi-keranjang" />
    <? if(!capacities) { ?>
    <div class="kolomgrid mt-4 tempat"></div>

    <? } else {?>
    <div class="kolomgrid mt-4 tempat">
      <div class="checkbox">
        <input type="checkbox" class="form-check-input check-capacity" />
      </div>
      <div class="pesanan">
        <div class="row">
          <div class="col-3 text-center my-auto">
            <img src="/icon/conversation.png" alt="kapasitas" class="img-fluid" />
          </div>
          <div class="col-9">
            <h4>
              Kapasitas
              <?= capacities.kapKategori ?>
              Orang
            </h4>
            <p>
              Loc.
              <?= (caves) ? caves.nama : '' ?>
            </p>
          </div>
        </div>
      </div>
      <div class="jumlah"><h3>Qty : 1</h3></div>
      <div class="harga">
        <h4>
          Rp.
          <?= capacities.harga ?>
        </h4>
      </div>
      <div class="hapus"><img src="/icon/trash.png" alt="" data-bs-toggle="modal" data-bs-target="#confirmDelete" /></div>
    </div>
    <? } ?>

    <? if(!formFoods) { ?>
    <div class="kolomgrid mt-4 tempat">
      <!-- <p>Ups Kamu Belum Memesan Apapun</p> -->
    </div>
    <? } else {?>
    <div class="makanan">
      <h3 class="detailjudul">Detail Pesanan Makanan</h3>
      <? formFoods.forEach((el,i)=>{ ?>
      <? foods.forEach(food=>{ ?>
      <? if(el.idMenu == food.idMenu ){ ?>
      <div class="kolomgrid food">
        <div class="checkbox">
          <input type="checkbox" class="form-check-input check-for-price" />
        </div>
        <div class="pesanan">
          <div class="row">
            <div class="col-3 text-center my-auto">
              <img src="/img/<?= food.gambar ?>" alt="food" class="img-fluid" />
            </div>
            <div class="col-9">
              <h4>
                <?= food.namaMenu ?>
              </h4>
              <p>
                <?=  food.deskripsi ?>
              </p>
            </div>
          </div>
        </div>
        <div class="harga">
          <input type="hidden" value="<?= el.harga ?>" class="value-harga" />
          <input type="hidden" value="" class="value-harga-tambah" />
          <h4>
            Rp
            <?= el.harga ?>
          </h4>
        </div>
        <div class="quantity-cart d-flex">
          <form method="post" action="/cart/qtymin?_method=PUT">
            <input type="hidden" name="iduser" value="<?=  dataUser.id ?>" />
            <input type="hidden" name="idmenu" value="<?=  food.idMenu ?>" />
            <input type="hidden" name="idcafe" value="<?=  food.idCafe ?>" />
            <button type="submit" class="btn p-0 fs-3"><i class="bi bi-dash-square kurang-cart" number="<?= i?>"></i></button>
          </form>
          <span class="fs-3 px-3"><?= el.quantity ?></span>
          <form method="post" action="/cart/qtyplus?_method=PUT">
            <input type="hidden" name="iduser" value="<?=  dataUser.id ?>" />
            <input type="hidden" name="idmenu" value="<?=  food.idMenu ?>" />
            <input type="hidden" name="idcafe" value="<?=  food.idCafe ?>" />
            <button type="submit" class="btn p-0 fs-3"><i class="bi bi-plus-square kurang-cart" number="<?= i?>"></i></button>
          </form>
        </div>
        <div class="hapus">
          <form action="/cart/food?_method=DELETE" method="post" class="d-inline">
            <input type="hidden" name="iduser" value="<?=  dataUser.id ?>" />
            <input type="hidden" name="idmenu" value="<?=  food.idMenu ?>" />
            <input type="hidden" name="idcafe" value="<?=  food.idCafe ?>" />
            <button type="submit" class="btn p-0"><img src="/icon/trash.png" alt="Hapus" class="img-fluid" /></button>
          </form>
        </div>
      </div>
      <? } ?>
      <? }) ?>
      <? }) ?>
    </div>
    <? } ?>
    <div class="garis border-1 border-bottom"></div>
    <div class="total text-end mt-4">
      <h3>Total : <span>-</span></h3>
      <input href="" class="btn btn-dark text-light px-3 mt-3" type="submit" value="Bayar Sekarang" />
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="confirmDelete" tabindex="-1" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-center my-0">
        <h1><i class="bi bi-exclamation-circle"></i></h1>
        <h4>Apakah Kamu Yakin?</h4>
        <p class="mb-5">Apabila Kapasitas Tempat ini dihapus , maka semua Menu makanan yang sudah dipilih akan juga terhapus</p>
        <form action="/cart?_method=DELETE" method="post" class="d-inline">
          <input type="hidden" name="iduser" value="<?=  dataUser.id ?>" />
          <input type="submit" class="btn btn-danger" value="Hapus" />
        </form>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Close</button>
      </div>
    </div>
  </div>
</div>
