<!-- https://www.saidalfaruq.net/artikel/upload-file-menggunakan-drag-dan-drop-dengan-javascript-dan-php-s7y6fz8z -->
<!-- https://www.w3schools.com/nodejs/nodejs_uploadfiles.asp -->
<section class="header">
 <div class="container">
    <h2><a href="/cart" class="text-secondary me-3"><i class="bi bi-arrow-left-circle-fill"></i></a> Pembayaran</h2>
 </div>
</section>

<section class="pay">

  <div class="container">
    
    <div class="row">
      <div class="col-md-6">
        <h2 class="fw-bold">Detail</h2>
        <div class="identitas">
          <table>
            <tr>
              <td>Total Pembayaran</td>
              <td>:</td>
              <td><span><strong>Rp. <?= formCheckout.total ?></strong> </span></td>
            </tr>
            <tr>
              <td>Tanggal Pesan</td>
              <td>:</td>
              <td><span><strong><?= `${formCheckout.tanggal} ${formCheckout.bulan} ${formCheckout.tahun}` ?></strong></span></td>
            </tr>
          </table>
        </div>
     
        <div class="kotak ">
          <i class="bi bi-exclamation-circle-fill me-3"></i>
          <h5 class="d-inline-block">Lakukan Pembayaran sebelum <span><?= `${Number(formCheckout.tanggal) + 1} ${formCheckout.bulan} ${formCheckout.tahun} -  ${formCheckout.jamPesan} WIB` ?></span></h5>
        </div>

        <div class="detail-pesanan">
          <ul class="list-group">
            <li class="list-group-item">Rincian Pesanan Anda</li>
            <li class="list-group-item">
              <h4 class="subjudul">Tempat</h4>
              <div class="kapasitas">
                <div class="row">
                  <div class="col-4">
                    <img src="/img/cafe/<?= caves.gambar[1].namaGambar ?>" alt="Cafe" class="img-fluid cafe mt-2" />
                  </div>
                  <div class="col">
                    <table class="table">
                      <tr>
                        <td>Cafe</td>
                        <td>:</td>
                        <td><span class="text-capitalize"> <?= caves.nama ?> </span></td>
                      </tr>
                      <tr>
                        <td>Alamat Cafe</td>
                        <td>:</td>
                        <td><span><?= caves.alamat ?></span></td>
                      </tr>
                      <tr>
                        <td>Kategori</td>
                        <td>:</td>
                        <td><span class="text-capitalize"><?= caves.kategori ?></span></td>
                      </tr>
                      <tr>
                        <td>Kapasitas</td>
                        <td>:</td>
                        <td><span class="text-capitalize"><?= formCapacities.kapKategori ?></span></td>
                      </tr>
                      <tr>
                        <td>Atas Nama</td>
                        <td>:</td>
                        <td><span class="text-capitalize"><?= formCapacities.namaPemesan ?></span></td>
                      </tr>
                      <tr>
                        <td>Tanggal Pesan</td>
                        <td>:</td>
                        <td><span><?= `${formCheckout.tanggal} ${formCheckout.bulan} ${formCheckout.tahun}` ?></span></td>
                      </tr>
                      <tr>
                        <td>Jam Pesan</td>
                        <td>:</td>
                        <td><span><?= formCheckout.jamPesan ?> WIB</span></td>
                      </tr>
                      <tr>
                        <td>Harga</td>
                        <td>:</td>
                        <td><span>Rp. <?= formCapacities.harga ?></span></td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <h4 class="subjudul">Makanan</h4>
              <? formFoods.forEach((el,i)=>{ ?>
              <div class="kapasitas">
                <div class="row">
                  <div class="col-4">
                    <img src="/img/food/<?= foods[i].gambar ?>" alt="Food" class="img-fluid mt-2" />
                  </div>
                  <div class="col">
                    <table class="table ">
                      <tr>
                        <td>Menu</td>
                        <td>:</td>
                        <td><span> <?= foods[i].namaMenu ?> </span></td>
                      </tr>
                      <tr>
                        <td>Quantity</td>
                        <td>:</td>
                        <td><span><?= el.quantity ?></span></td>
                      </tr>
                      <tr>
                        <td>Harga</td>
                        <td>:</td>
                        <td><span>Rp. <?= el.harga ?></span></td>
                      </tr>
                     
                    </table>
                  </div>
                </div>
              </div>  
              <? }) ?>
            </li>
            <li class="list-group-item">
              <h4 class="subjudul">Catatan</h4>
              <input type="text" class="form-control mb-2" value="<?= (formCheckout.catatan) ? formCheckout.catatan : 'Catatan Kamu Masih Kosong' ?>" >
            </li>
        </div>
        
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5 alamat">
        <h2 class="fw-bold ">Alamat Transfer</h2>
        <div class="identitas">
          <table class="mb-3">
            <tr>
              <td>Nama Rekening</td>
              <td>:</td>
              <td><span>PT. Tongkrongin</span></td>
            </tr>
            <tr>
              <td>Nomor Rekening</td>
              <td>:</td>
              <td><span>8821923190124</span></td>
            </tr>
            <tr>
              <td>Nomor Bank</td>
              <td>:</td>
              <td><span>Bank Central Asia (BCA)</span></td>
            </tr>
           
          </table>
          <span class="pt-3"><a href="" class="text-dark" data-bs-toggle="modal" data-bs-target="#gantiBank"><i class="bi bi-box-arrow-in-down-left"></i> Ubah Akun Bank</a></span>
        </div>
        
        <div class="image-bank text-center">
          <img src="/img/bcalogo.png" alt="BCA logo" class="img-fluid" />
          <button class="btn btn-dark px-4 py-2 " data-bs-toggle="modal" data-bs-target="#modalUpload">Unggah Bukti Pembayaran</button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal Ganti Pilihan Bank -->
<div class="modal fade" id="gantiBank" tabindex="-1" aria-labelledby="gantiBankLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="gantiBankLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">...</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Upload Bukti-->
<div class="modal fade" id="modalUpload" tabindex="-1" aria-labelledby="modalUploadLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="header mb-3">
          <div class="row">
            <div class="col">
              <h5 class="modal-title" id="modalUploadLabel">Unggah Foto</h5>
            </div>
            <div class="col text-end">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
          </div>
        </div>
        <form action="/foto" method="POST" enctype="multipart/form-data">
          <div class="konten-upload" >
       
            <div class="hasil-file">
            </div>
            <h2 class="mb-4"><i class="bi bi-file-earmark-plus"></i></h2>
            <p>Seret foto ke area ini (bisa lebih dari satu sekaligus) atau tekan tombol unggah dibawah ini. Pastikan foto telah memenuhi <strong>kualitas Tongkrongin (png , jpg , jpeg)</strong></p>
            <label for="upload-photo">Unggah Foto</label>
            <input type="file" name="file" id="upload-photo" class="upload-photo"/>
          </div>
          <div class="notif-area my-3"></div>
          <div class="kirim">
              <input type="submit" value="Kirim"></input>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- 
<div class="modal fade" id="uploadBukti" tabindex="-1" aria-labelledby="uploadBuktiLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="uploadBuktiLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">...</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->