<section class="user-update">
  <div class="container">
    <a href="/user" class="text-dark">
      <h2 class="fw-bold"><i class="bi bi-arrow-left-circle-fill"></i></h2>
    </a>
    <h2 class="fw-bold">Profile</h2>
    <? if (typeof errors != 'undefined') { ?>
    <div class="alert alert-danger" role="alert">
      <ul>
        <? errors.forEach(error=>{ ?>
        <li>
          <?= error.msg ?>
        </li>
        <? }) ?>
      </ul>
    </div>
    <? } ?>

    <form method="post" action="/user/update?_method=PUT">
      <div class="form-update">
        <div class="row identitas">
          <div class="col-3">
            <img src="/img/user/muhadiyaksa.png" alt="Foto Profile" class="img-fluid rounded-circle" />
          </div>
          <div class="col-9">
            <button class="btn btn-light">Ganti Foto Profil</button>
          </div>
        </div>

        <div class="nama">
          <input type="hidden" value="<?= dataUser.id ?>" name="id" />
          <label for="nama">Nama Lengkap <span>*</span></label>
          <input type="text" class="input-update text-capitalize" id="nama" name="nama" value="<?= dataUser.nama ?>" />
        </div>

        <div class="email">
          <label for="email">Email <span>*</span></label>
          <input type="email" disabled="true" class="input-update" id="email" name="email" value="<?= dataUser.email ?>" />
        </div>

        <div class="notelp">
          <label for="notelp">Nomor Telepon <span>*</span></label>
          <input type="number" class="input-update" id="notelp" name="notelp" value="<?= dataUser.notelp ?>" />
        </div>

        <div class="jeniskelamin">
          <label for="jeniskelamin">Jenis Kelamin</label>
          <select id="jeniskelamin" name="jeniskelamin">
            <option value="-">-</option>
            <option value="Laki-laki">Laki-Laki</option>
            <option value="Perempuan">Perempuan</option>
          </select>
        </div>

        <div class="kota">
          <label for="kota">Kota</label>
          <input type="text" class="input-update" id="kota" name="kota" placeholder="Kota Domisili Anda" />
          <input type="hidden" value="<?= dataUser.password?>" name="password" />
          <input type="hidden" value="<?= dataUser.passwordChecked?>" name="passwordChecked" />
        </div>
      </div>
      <div class="simpan">
        <button type="submit" class="btn btn-dark">Simpan</button>
      </div>
    </form>
  </div>
</section>
