<section class="user-profile">
  <div class="container">
    <a href="/home" class="text-dark">
      <h2 class="fw-bold"><i class="bi bi-arrow-left-circle-fill"></i></h2>
    </a>
    <h2 class="fw-bold">Profile</h2>

    <? if(msg.length !== 0) {?>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <?= msg  ?>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <? } ?>

    <div class="row">
      <div class="col-md">
        <div class="row identitas">
          <div class="col-4">
            <img src="/img/user/muhadiyaksa.png" alt="Foto Profile" class="img-fluid rounded-circle" />
          </div>
          <div class="col-8">
            <h3 class="text-capitalize"><?= dataUser.nama ?></h3>
            <h5><?= dataUser.email ?></h5>
          </div>
        </div>
      </div>
      <div class="col-md button">
        <a href="/user/update"> <button class="btn btn-dark rounded-pill edit">Edit Profile</button></a>
        <a href="/user/password"> <button class="btn btn-dark rounded-pill edit">Edit Password</button></a>
      </div>
    </div>
  </div>
</section>

<section class="riwayat">
  <div class="container">
    <h2 class="fw-bold">Riwayat Transaksi</h2>
    <div class="riwayat-user">
      <div class="row">
        <div class="col-md">
          <h3>Seatap Coffe</h3>
          <p>Arundina, Jl. Lap. Tembak No.A10, RT.1/RW.11, Cibubur, Kec. Ciracas, Kota Jakarta Timur, Daerah Khusus Ibukota Jakarta 13720</p>
        </div>
        <div class="col-md tanggal">
          <p>17 Oktober 2021</p>
        </div>
      </div>
    </div>
    <div class="riwayat-user">
      <div class="row">
        <div class="col-md">
          <h3>Seatap Coffe</h3>
          <p>Arundina, Jl. Lap. Tembak No.A10, RT.1/RW.11, Cibubur, Kec. Ciracas, Kota Jakarta Timur, Daerah Khusus Ibukota Jakarta 13720</p>
        </div>
        <div class="col-md tanggal">
          <p>17 Oktober 2021</p>
        </div>
      </div>
    </div>
  </div>
</section>
