<section class="user-password">
  <div class="container">
    <h2 class="fw-bold">Edit Password</h2>
    <div class="row">
      <div class="col-md eye">
        <label for="password">Password Baru</label>
        <input type="password" class="input-update" id="password" name="password" placeholder="Password Baru" />
        <img src="/icon/eyeIcon.png" alt="Eye Icon" />
      </div>
      <div class="col-md eye">
        <label for="passwordChecked">Konfirmasi Password Baru</label>
        <input type="password" class="input-update" id="passwordChecked" name="passwordChecked" placeholder="Konfirmasi Password Baru" />
        <img src="/icon/eyeIcon.png" alt="Eye Icon" />
      </div>
    </div>
    <div class="simpan">
      <button class="btn btn-dark">Simpan</button>
    </div>
  </div>
</section>
