<section class="user-update">
  <div class="container">
    <h2 class="fw-bold">Profile</h2>
    <div class="row">
      <div class="col-md">
        <div class="row identitas">
          <div class="col-3">
            <img src="/img/user/muhadiyaksa.png" alt="Foto Profile" class="img-fluid rounded-circle" />
          </div>
          <div class="col-9">
            <button class="btn btn-light">Ganti Foto Profil</button>
          </div>
        </div>
      </div>
      <div class="col-md nama">
        <label for="nama">Nama Lengkap</label>
        <input type="text" class="input-update" id="nama" name="nama" placeholder="Nama Lengkap Anda" />
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <label for="email">Email</label>
        <input type="email" disabled="true" class="input-update" id="email" name="email" placeholder="muhadiyaksa@gmail.com" />
      </div>
      <div class="col-md">
        <label for="notelp">Nomor Telepon</label>
        <input type="number" class="input-update" id="notelp" name="notelp" placeholder="Nomor Handphone Anda" />
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <label for="jeniskelamin">Jenis Kelamin</label>
        <select id="jeniskelamin" name="jeniskelamin">
          <option value="Laki-laki">Laki-Laki</option>
          <option value="Perempuan">Perempuan</option>
        </select>
      </div>
      <div class="col-md">
        <label for="kota">Kota</label>
        <input type="text" class="input-update" id="kota" name="kota" placeholder="Kota Domisili Anda" />
      </div>
    </div>
    <div class="simpan">
      <button class="btn btn-dark">Simpan</button>
    </div>
  </div>
</section>
