<section class="user-profile">
  <div class="container">
    <h2 class="fw-bold">Profile</h2>
    <div class="row">
      <div class="col-md">
        <div class="row identitas">
          <div class="col-4">
            <img src="/img/user/muhadiyaksa.png" alt="Foto Profile" class="img-fluid rounded-circle" />
          </div>
          <div class="col-8">
            <h3>Muhamad Adi Yaksa</h3>
            <h5>muhadiyaksa@gmail.com</h5>
          </div>
        </div>
      </div>
      <div class="col-md button">
        <button class="btn btn-dark rounded-pill edit">Edit Profile</button>
        <button class="btn btn-dark rounded-pill edit">Edit Password</button>
      </div>
    </div>
  </div>
</section>

<section class="riwayat">
  <div class="container">
    <h2 class="fw-bold">Riwayat Transaksi</h2>
    <div class="riwayat-user">
      <div class="row">
        <div class="col-md">
          <h3>Seatap Coffe</h3>
          <p>Arundina, Jl. Lap. Tembak No.A10, RT.1/RW.11, Cibubur, Kec. Ciracas, Kota Jakarta Timur, Daerah Khusus Ibukota Jakarta 13720</p>
        </div>
        <div class="col-md tanggal">
          <p>17 Oktober 2021</p>
        </div>
      </div>
    </div>
    <div class="riwayat-user">
      <div class="row">
        <div class="col-md">
          <h3>Seatap Coffe</h3>
          <p>Arundina, Jl. Lap. Tembak No.A10, RT.1/RW.11, Cibubur, Kec. Ciracas, Kota Jakarta Timur, Daerah Khusus Ibukota Jakarta 13720</p>
        </div>
        <div class="col-md tanggal">
          <p>17 Oktober 2021</p>
        </div>
      </div>
    </div>
  </div>
</section>
