<section class="user-password">
  <div class="container">
    <a href="/user/<?= user.id ?>" class="text-dark fs-2">
      <i class="bi bi-arrow-left-circle-fill"></i>
    </a>
    <h2 class="fw-bold">Edit Password</h2>
    <? if (typeof errors != 'undefined') { ?>
    <div class="alert alert-danger" role="alert">
      <ul>
        <? errors.forEach(error=>{ ?>
        <li>
          <?= error.msg ?>
        </li>
        <? }) ?>
      </ul>
    </div>
    <? } ?>
    <form method="post" action="/user/password?_method=PUT">
      <input type="hidden" value="<?= user.id ?>" name="id" />
      <input type="hidden" value="<?= user.nama ?>" name="nama" />
      <input type="hidden" value="<?= user.email ?>" name="email" />
      <input type="hidden" value="<?= user.notelp ?>" name="notelp" />
      <div class="row">
        <div class="col-md eye">
          <label for="password">Password Baru</label>
          <input type="password" class="input-update" id="password" name="password" placeholder="Password Baru" />
          <img src="/icon/eyeIcon.png" alt="Eye Icon" class="show-password" />
        </div>
        <div class="col-md eye">
          <label for="passwordChecked">Konfirmasi Password Baru</label>
          <input type="password" class="input-update" id="passwordChecked" name="passwordChecked" placeholder="Konfirmasi Password Baru" />
          <img src="/icon/eyeIcon.png" alt="Eye Icon" class="show-password" />
        </div>
      </div>
      <div class="simpan">
        <button type="submit" class="btn btn-dark">Simpan</button>
      </div>
    </form>
  </div>
</section>
