*a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section.user-profile {
  margin-top: 30px;

  color: #4f4f4f;
}

section.user-profile h2 {
  margin-bottom: 20px;
}
section.user-profile .form-update .identitas {
  align-items: center;
  padding: 0 15px;
}

section.user-profile .form-update .identitas h3 {
  font-weight: 600;
}
section.user-profile .button {
  text-align: center;
}
section.user-profile button.edit {
  margin-top: 20px;
  padding: 2px 25px;
}
section.riwayat {
  color: #4f4f4f;
  margin-top: 50px;
  padding-top: 30px;
  margin-bottom: 50px;
}
section.riwayat h2 {
  border-top: 2px solid rgba(112, 112, 112, 0.3);
  padding-top: 30px;
}
section.riwayat .riwayat-user {
  display: flex;
  background-color: rgba(112, 112, 112, 0.05);
  border: 1px solid rgba(112, 112, 112, 0.3);
  border-radius: 8px;
  padding: 15px 10px;
  flex-direction: column;
  margin-top: 20px;
}
section.riwayat .riwayat-user h3 {
  font-weight: 600;
}
section.riwayat .riwayat-user p {
  font-size: 14px;
  margin-bottom: 0;
  color: #acacac;
}
section.riwayat .riwayat-user .tanggal {
  align-self: flex-end;
  padding-bottom: 0;
  margin-bottom: 0;
  text-align: end;
}

/* USER UPDATE */
section.user-update,
section.user-password {
  color: #4f4f4f;
  margin-top: 30px;
  margin-bottom: 50px;
}
section.user-update .simpan,
section.user-password .simpan {
  text-align: end;
}
section.user-update .simpan button,
section.user-password .simpan button {
  width: 100%;
}
section.user-update label {
  font-weight: 600;
}
section.user-update .nama {
  align-self: flex-end;
}
section.user-update label span {
  color: red;
  font-weight: 400;
}
section.user-update .identitas {
  align-items: center;
}
section.user-update input,
section.user-update select,
section.user-password input {
  width: 100%;
  margin-bottom: 13px;
  margin-top: 5px;
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid rgba(112, 112, 112, 0.3);
  padding-right: 30px;
  background-color: white;
}
section.user-update select option {
  width: 90%;
  border: 1px solid #acacac;
  outline: 0;
}
section.user-update .form-update {
  display: grid;
  row-gap: 5px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "identitas "
    "nama"
    "email"
    "notelp"
    "jeniskelamin"
    "kota";
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
section.user-update .form-update .identitas {
  grid-area: identitas;
}
section.user-update .form-update .nama {
  grid-area: nama;
}
section.user-update .form-update .email {
  grid-area: email;
}
section.user-update .form-update .notelp {
  grid-area: notelp;
}
section.user-update .form-update .jeniskelamin {
  grid-area: jeniskelamin;
}
section.user-update .form-update .kota {
  grid-area: kota;
}

/* USER PASSWORD  */
section.user-password h2 {
  margin-bottom: 30px;
}
section.user-password .eye {
  position: relative;
}
section.user-password .eye img {
  position: absolute;
  bottom: 24px;
  right: 25px;
}

@media (min-width: 992px) {
  section.user-profile .button {
    align-self: center;
  }
  section.user-profile button.edit {
    font-size: 20px;
    padding: 5px 30px;
  }
  section.riwayat h2,
  section.user-profile h2 {
    text-align: start;
  }
  section.riwayat .riwayat-user p {
    font-size: 16px;
  }

  section.user-update .simpan button,
  section.user-password .simpan button {
    margin-top: 30px;
    width: 20%;
  }
  section.user-update label {
    font-size: 20px;
  }
  section.user-update input {
    font-size: 18px;
  }
  section.user-update .form-update {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "identitas nama"
      "email notelp"
      "jeniskelamin kota";
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 20px;

    row-gap: 0px;
  }
  section.user-update .form-update .email {
    align-self: center;
  }
  section.user-update .form-update .notelp {
    align-self: center;
  }
  section.user-update .form-update .jeniskelamin {
    grid-area: jeniskelamin;
  }
  section.user-update .form-update .kota {
    grid-area: kota;
  }
}
