section.makanan {
  margin: 50px 0px;
}
section.makanan .kapasitas,
section.makanan .menu {
  background-color: rgba(112, 112, 112, 0.05);
  border: 1px solid rgba(128, 118, 118, 0.3);
  border-radius: 8px;
  padding: 10px 10px;
  margin-bottom: 20px;
  cursor: pointer;
}
section.makanan .menu {
  display: grid;
  grid-template-columns: 1.2fr 1.5fr 0.8fr;
  grid-template-rows: 1fr 0.5fr;
  grid-template-areas:
    "image makanan  tersedia"
    "image makanan  harga";
}

section.makanan .menu .image {
  grid-area: image;
}
section.makanan .menu .makanan {
  grid-area: makanan;
  padding-left: 10px;
}
section.makanan .menu .tersedia {
  display: block;
  grid-area: tersedia;
  text-align: end;
  color: #2fe41e;
  font-weight: 600;
}
section.makanan .menu .pesan {
  display: none;
}
section.makanan .menu .harga {
  grid-area: harga;
  text-align: end;
  align-self: flex-end;
}

section.makanan .pesanan {
  display: block;
}

section.makanan .kolompesanan {
  background-color: rgba(112, 112, 112, 0.3);
}
section.makanan .jumlahpesanan .bayar {
  display: none;
}
section.makanan .menu .quantity {
  display: none;
}
@media (max-width: 768px) {
  section.makanan .pesanan {
    display: none;
  }
}

@media (max-width: 575.98px) {
  section.makanan {
    margin: 20px 0px;
  }

  section.makanan .menu {
    border-left: 3px solid #2fe41e;
  }
  section.makanan .menu .pesan {
    display: block;
    background-color: #94ff8a;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    padding: 5px 0px;
    grid-area: pesan;
    align-self: flex-end;
  }

  section.makanan .menu {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 0.6fr;
    grid-template-areas:
      "image makanan makanan"
      "image makanan  makanan"
      "harga null  pesan";
  }
  section.makanan .jumlahpesanan {
    background-color: #94ff8a;
    width: 100%;
    padding: 10px 15px;
    border: 1px solid rgba(128, 118, 118, 0.3);
    border-radius: 8px;
    margin-bottom: auto;
  }
  section.makanan .jumlahpesanan .bayar {
    display: block;
    color: white;
    text-align: end;
    text-decoration: underline;
  }
  section.makanan .menu .quantity {
    grid-area: pesan;
    align-self: flex-end;
    text-align: end;
    font-size: 18px;
  }
  section.makanan .menu .quantity span {
    font-size: 22px;
    padding: 0px 10px;
  }
  section.makanan .menu .harga {
    text-align: start;
    align-self: flex-end;
    padding-top: 10px;
    font-weight: 600;
  }
  section.makanan .menu .tersedia {
    padding-top: 10px;
    display: none;
  }
  section.makanan .menu span {
    font-size: 14px;
  }
}
@media (max-width: 991.98px) {
  section.makanan .menu .harga {
    font-size: 20px;
    font-weight: 600;
  }
}
