*a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section.user-profile {
  margin-top: 50px;
  color: #4f4f4f;
}
section.user-profile h2 {
  margin-bottom: 20px;
  text-align: center;
}
section.user-profile .identitas {
  align-items: center;
  padding: 0 15px;
}
section.user-profile .identitas h3 {
  font-weight: 600;
}
section.user-profile .button {
  text-align: center;
}
section.user-profile button.edit {
  margin-top: 20px;
  padding: 2px 25px;
}
section.riwayat {
  color: #4f4f4f;
  margin-top: 50px;
  padding-top: 30px;
  margin-bottom: 50px;
}
section.riwayat h2 {
  border-top: 2px solid rgba(112, 112, 112, 0.3);
  padding-top: 30px;
  text-align: center;
}
section.riwayat .riwayat-user {
  display: flex;
  background-color: rgba(112, 112, 112, 0.05);
  border: 1px solid rgba(112, 112, 112, 0.3);
  border-radius: 8px;
  padding: 15px 10px;
  flex-direction: column;
  margin-top: 20px;
}
section.riwayat .riwayat-user h3 {
  font-weight: 600;
}
section.riwayat .riwayat-user p {
  font-size: 14px;
  margin-bottom: 0;
  color: #acacac;
}
section.riwayat .riwayat-user .tanggal {
  align-self: flex-end;
  padding-bottom: 0;
  margin-bottom: 0;
  text-align: end;
}

/* USER UPDATE */
section.user-update {
  color: #4f4f4f;
  margin-top: 30px;
  margin-bottom: 50px;
}
section.user-update .simpan {
  text-align: end;
}
section.user-update .simpan button {
  width: 100%;
}
section.user-update label {
  font-weight: 600;
}
section.user-update .nama {
  align-self: flex-end;
}
section.user-update .identitas {
  align-items: center;
}
section.user-update input,
section.user-update select {
  width: 100%;
  margin-bottom: 13px;
  margin-top: 5px;
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid rgba(112, 112, 112, 0.3);
  padding-right: 30px;
}
section.user-update select option {
  width: 90%;
  border: 1px solid #acacac;
  outline: 0;
}

@media (min-width: 992px) {
  section.user-profile .button {
    align-self: center;
  }
  section.user-profile button.edit {
    font-size: 20px;
    padding: 5px 30px;
  }
  section.riwayat h2,
  section.user-profile h2 {
    text-align: start;
  }
  section.riwayat .riwayat-user p {
    font-size: 16px;
  }
  section.user-update .simpan {
    text-align: end;
  }
  section.user-update .simpan button {
    margin-top: 30px;
    width: 20%;
  }
}
