section.invoice {
  margin-top: 40px;
  margin-bottom: 50px;
}
section.invoice .status {
  border: 1px solid #70707031;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 20px;
}
section.invoice .status .table {
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
}
section.invoice .status .table td,
section.invoice .detail-pesanan .table td,
section.invoice .tatacara .table td {
  border-bottom: 0px !important;
}
section.invoice .status .table tr td:nth-child(3) {
  font-weight: 600;
}

section.invoice .kotak i {
  color: #6fbd44;
  font-size: 20px;
  margin-right: 10px;
}
section.invoice .kotak h5 {
  font-size: 14px;
  margin: 0;
  color: #474747;
  align-self: center;
}

section.invoice .kotak {
  font-family: "Poppins", sans-serif;
  background-color: #e7ffe1;
  padding: 10px 20px;
  border-radius: 8px;
  display: flex;
}

section.invoice .detail-pesanan {
  margin-top: 40px;
}
section.invoice .detail-pesanan img {
  border-radius: 4px;
}
section.invoice .detail-pesanan p {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}
section.invoice .detail-pesanan table {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
}
section.invoice .detail-pesanan table tr td:nth-child(1) {
  width: 100px;
}

section.invoice .kode,
section.invoice .tatacara {
  border: 1px solid #70707031;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 20px;
}
section.invoice .kode {
  margin-top: 40px;
}
section.invoice .kode .row {
  font-family: "Poppins", sans-serif;
  align-items: center;
  margin-top: 20px;
}

section.invoice .kode .row h5 {
  color: #6fbd44;
  font-size: 16px;
}
section.invoice .kode .row button {
  font-size: 15px;
}
section.invoice .kode .row .col:nth-child(2) {
  text-align: start;
  margin-top: 10px;
}

section.invoice .tatacara {
  margin-top: 40px;
}
section.invoice .tatacara .table {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
}

@media (min-width: 576px) {
  section.invoice .kotak i {
    font-size: 24px;
  }
  section.invoice .kotak h5 {
    font-size: 16px;
  }
  section.invoice .status .table {
    font-size: 15px;
  }
  section.invoice .detail-pesanan table {
    font-size: 14px;
  }
  section.invoice .detail-pesanan p {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
  }
  section.invoice .detail-pesanan table tr td:nth-child(1) {
    width: 180px;
  }
  section.invoice .kode {
    margin-top: 0px;
  }
  section.invoice .kode .row h5 {
    font-size: 16px;
  }
  section.invoice .kode .row button {
    font-size: 16px;
  }
  section.invoice .kode .row .col:nth-child(2) {
    text-align: end;
    margin-top: 0px;
  }
  section.invoice .tatacara .table {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
  }
}
